/* expense tracker */
.expense-tracker {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: bisque;
  padding: 1rem;
  h2,
  p {
    text-align: center;
  }

  form {
    margin-bottom: 2rem;
  }
  table {
    width: 70%;
    th {
      text-align: left;
    }
  }
}

.delete {
  background-color: red;
  color: white;
  border: none;
  padding: 0.5rem;
  cursor: pointer;
}
/* note taker */

/* vowel counter */
